<div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="addPackage(formGroup.value)">
        <div class="entity-container">
            <h5 *ngIf="!childData.entityName"> No entity found. </h5>
            <h5 *ngIf="childData.entityName">
                <span>Entity saved and selected: </span>
                <span [style.color]="'green'">{{childData.entityName}}</span>
            </h5>
            <button mat-raised-button type="button" (click)="loadEntity()">
                <span>Add entity </span>
            </button>
        </div>

        <mat-form-field>
            <mat-label>Package Name</mat-label>
            <input matInput formControlName="packageName" type="text" />
            <mat-error *ngIf="formGroup.get('packageName').hasError('required')">
                Package Name is required
            </mat-error>
        </mat-form-field>

        <div class="form-actions">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid || !childData.entityName">Save</button>
            <button mat-raised-button color="warn" type="button" (click)="cancelAddPackage()">Cancel</button>
        </div>
    </form>
</div>