<button  (click)="loadParentForm()" mat-raised-button>
    <span>Add Process </span>
</button>

<div *ngIf="hasChildData()" class="process-details">
    <h3> Successfully created process: </h3>
    <div>
        <span>Process name: </span>
        <span [style.color]="'green'">{{childData.processName}}</span>
    </div>
    <div>
        <span>Process Version: </span>
        <span [style.color]="'green'">{{childData.processVersion}}</span>
    </div>
    <div>
        <span>Package name: </span>
        <span [style.color]="'green'">{{childData.packageName}}</span>
    </div>
    <div>
        <span>Environment name: </span>
        <span [style.color]="'green'">{{childData.environmentName}}</span>
    </div>
    <div>
        <span>Entity name: </span>
        <span [style.color]="'green'">{{childData.entityName}}</span>
    </div>
</div>
